# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#  johndoe            == POSTGRES_USER      == Nombre de usuario.
#  randompassword     == POSTGRES_PASSWORD  == Contraseña
#  mydb?schema=public == Nombre de la Base de Datos
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/postgres"

# Generado por npx auth secret
NEXTAUTH_SECRET=W6DkqBI6sdSo9Kd3+3o/2IrDFe51ndn8zkMMmTcBZh0=

GITHUB_ID=374be8df97c4d81ffde0
GITHUB_SECRET=5458401f510073637652bb66e0aceb51e4325c2b

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=